html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    165deg,
    rgba(0, 183, 255, 0.301),
    rgb(4, 23, 27)
  );
}

.title {
  width: 400px;
  height: 40px;
  border: dotted 5px lightblue;
  padding: 1em;
  margin: 1em;
  font-size: 2em;
  text-align: center;
}

#list {
  padding: 1em;
  height: 600px;
  width: 400px;
  border: dotted 5px pink;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.list-item {
  border: 1px black solid;
  min-height: 50px;
  min-width: 80%;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  column-gap: 1em;
  margin: 2px 0;
}

.task {
  margin: auto;
  font-size: 1em;
}

#add-button {
  /* border: 1px red solid; */
  width: 150px;
  height: 60px;
  background-color: rgb(110, 160, 160);
}

input {
  width: 400px;
  height: 50px;
  font-size: 1.5em;
  border: 2px solid grey;
  background-color: grey;
}

.completed-task {
  text-decoration: line-through;
  color: grey;
  font-size: 0.9em;
}
